{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block cms_breadcrumb %}
    <h2>Wartosc configu : {{ config(('ShopwareRecruitmentPlugin.config.textvalue')) }}</h2>
{% endblock %}
